<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Blog Homepage | <%= title %>
    </title>
</head>

<body>
    <header>
        <h3>Welcome to my first backend project which is a blog</h3>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/">Home page</a></li>
                <li><a href="/about">About page</a></li>
                <li><a href="/blogs/create">Add New Blog</a></li>
            </ul>
        </nav>

        <div class="blog-title">
            <p>All blogs are currently up to date</p>
        </div>

        <div class="blogs-container">
            <h2>All Blogs</h2>

            <% if (blogresults.length> 0) { %>
                <%blogresults.forEach(blog=> { %>
                    <div class="eachBlog">
                        <div>
                            <h3><a href="/fullstory/<%= blog.id %>">
                                    <%= blog.title %>
                                        ( click here to read more )
                                </a>
                            </h3>
                            <p>
                                <%= blog.snippet %>
                            </p>
                            <a class="updateLink" href="/blog/update/<%= blog.id %>">Update Blog</a>
                        </div>
                        <div>
                            <img src="../icon/delete.svg" alt="delete-icon" class="delete-icon"
                                data-id="<%= blog.id %>">
                        </div>
                    </div>



                    <% }) %>
                        <% } else { %>
                            <p>There are no blogs available...</p>
                            <% } %>
        </div>
    </main>

    <footer>
        <p>Copyright &copy; My first backend project</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const deleteIcons = document.querySelectorAll('.delete-icon');

            deleteIcons.forEach(icon => {
                icon.addEventListener('click', function () {
                    const blogId = this.getAttribute('data-id');
                    if (confirm('Are you sure you want to delete this document?')) {
                        fetch(`/blog/delete/${blogId}`, {
                            method: 'DELETE',
                        })
                            .then(response => {
                                if (response.ok) {
                                    location.reload();
                                } else {
                                    alert('Error deleting blog.');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('Error deleting blog.');
                            });
                    }
                });
            });
        });
    </script>

</body>

</html>